[submodule ".emacs.d/plugins/emacs-color-theme-solarized"]
	path = .emacs.d/plugins/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/plugins/drag-stuff"]
	path = .emacs.d/plugins/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule ".emacs.d/plugins/expand-region"]
	path = .emacs.d/plugins/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/plugins/edts"]
	path = .emacs.d/plugins/edts
	url = git@github.com:tjarvstrand/edts.git
